body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 15px;
}
.app-input {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app-input div {
  margin-bottom: 5px;
  margin-top: 5px;
}

.app-input span {
  width: 85px;
  display: inline-block;
}

.app-input button {
  width: 150px;
  margin-top: 10px;
}

.data-table-wrapper tr {
  border-bottom: 1px solid black;
}
.home {
  cursor: pointer;
}
.home_right {
  position: inline-block;
  float: right;
  margin-right: 5px;
}
.title {
  width: 100%;
  background-color: lightgray;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}
.scicatlink {
  background-color: green;
  padding: 2px 10px;
  color: white;
  text-decoration: none;
  border: none;
  display: inline-block;
  text-align: center;
  margin: 5px;
}
.scicatlink:hover {
  cursor: pointer;
  background-color: darkgreen;
  color: white;
  text-decoration: none;
}
.button {
  background-color: green;
  border: none;
  color: white;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  display: inline-block;
}
.button:hover {
  cursor: pointer;
  background-color: darkgreen;
}

.textarea {
  display: inline-block !important;
  width: 100%;
  overflow: hidden;
  resize: vertical;
  min-height: 20px;
  line-height: 20px;
  white-space: normal;
  text-align: left;
}

.rdt_TableCell {
  display: inline-block !important;
  padding: 10px;
  overflow: hidden;
  white-space: normal !important;
}
.rdt_TableCol_Sortable {
  font-weight: bold;
  font-size: 14px;
}
#popup {
  position: fixed;
  z-index: 2;
  top: 2px;
  right: 300px;
}
.elogy_left {
  display: inline-block;
  width: 60px;
  height: 30px;
}
.elogy_right {
  display: inline-block;
  height: 30px;
}
.content {
  margin-left: 10px;
  margin-right: 10px;
}
.toggle {
  display: flex;
}
.toggle_right {
  margin-left: auto;
  order: 2;
}
.beamlineselect {
  margin: 10px;
}
.modal-content {
  width: 350px;
  padding: 20px !important;
  background-color: lightgray;
  border-radius: 20px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
}
.content2 {
  text-align: center;
  width: 100%;
}
#loggedInAs {
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  font-weight: lighter;
}
p {
  display: inline-block;
  height: 10px;
}
.export-btn {
  width: 100%;
  margin-top: 0.5rem;
}
.deleteDQM {
  float: right;
  background-color: inherit;
  border: none;
  display: inline-block;
  padding-top: 3px;
}
#DQMStars {
  display: inline-block;
}
.showImages {
  width: 100%;
  padding-bottom: 20px;
}
.fieldset {
  margin: 20px;
  padding: 0 10px 10px;
  border: 2px solid lightgray;
  border-radius: 0.3rem;
  padding-top: 10px;
}
.legend {
  padding: 6px 6px 10px;
  background: #fff;
  font: 1.2em normal;
  font-family: sans-serif;
}
.fieldset > .legend {
  float: left;
  margin-top: -29px;
}
.fieldset > .legendRight {
  float: right;
  margin-top: -39px;
}

.fieldset > .legend + * {
  clear: both;
}

.image-thumbnail {
  max-width: 50px;
  max-height: 50px;
  display: inline;
}
.adminLogin {
  position: absolute;
  color: gray;
  bottom: 10px;
  right: 10px;
}